// buttons
@font-face {
    font-family: Caveat-Regular;
    src: url(../../assets/fonts/Caveat/Caveat-Regular.ttf);
}

@font-face {
    font-family: Courgette-Regular;
    src: url(../../assets/fonts/Courgette/Courgette-Regular.ttf);
}

// body
@font-face {
    font-family: Neucha-Regular;
    src: url(../../assets/fonts/Neucha/Neucha-Regular.ttf);
}